<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.ssafit.article.model.dao.ArticleDao">
 
 	<resultMap type="Article" id="articleMap">
 		<result column="article_id" property="articleId"/>
 		<result column="title" property="title"/>
 		<result column="content" property="content"/>
 		<result column="board_id" property="boardId"/>
 		<result column="user_seq" property="userSeq"/>
 		<result column="view_cnt" property="viewCnt"/>
 		<result column="lft" property="lft"/>
 		<result column="rgt" property="rgt"/>
		<result column="depth" property="depth"/>
 		<result column="created_at" property="createdAt"/>
 		<result column="modified_at" property="modifiedAt"/>
 		<association property="userTable" resultMap="userMap"/>
 		<association property="boardTable" resultMap="boardMap"/>
 	</resultMap>

 	
  	<resultMap type="Board" id="boardMap">
		<result column="board_id" property="boardId"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="created_at" property="createdAt"/>
	</resultMap> 
	
	<resultMap type="User" id="userMap">
		<result column="user_seq" property="userSeq"/>
		<result column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="nickName" property="nickName"/>
		<result column="user_rank" property="userRank"/>
		<result column="email" property="email"/>
		<result column="joined_at" property="joinedAt"/>
	</resultMap> 
 	
 	<select id="selectAll" resultMap="articleMap">
 		SELECT 
 			*
		FROM
			board b
		    RIGHT JOIN article a
		    ON b.board_id = a.board_id
		    LEFT JOIN user u
			ON a.user_seq = u.user_seq
		;
 	</select>
 	
 	<select id="selectById" parameterType="int" resultMap="articleMap">
		SELECT 
<!--			a.id,-->
<!-- 			a.title,-->
<!-- 			a.content,-->
<!-- 			a.board_id,-->
<!-- 			a.user_seq,-->
<!-- 			a.view_cnt,-->
<!-- 			u.user_name,-->
<!-- 			u.nickName-->
			*
		FROM
			article a
		    RIGHT JOIN
		    board b 
		    on a.board_id = b.board_id
		    LEFT JOIN 
		    user u
		    on a.user_seq = u.user_seq
		WHERE
			a.article_id = #{articleId}
		;
 	</select>
 	
 	<insert id="insertArticle" parameterType="Article">
 		INSERT INTO article(title, content, board_id, user_seq, view_cnt,created_at)
 		VALUES(#{title}, #{content}, #{boardId}, #{userSeq}, 0, now());
 	</insert>
 	
 	
 	<update id="updateArticle" parameterType="Article">
 		UPDATE article
 		SET title=#{title}, content=#{content}, modified_at=now()
 		where article_id=#{articleId};
 	</update>

	<update id="updateViewCnt" parameterType="int">
		UPDATE article
		SET view_cnt = view_cnt + 1
		WHERE article_id=#{articleId}
		;
	</update>
 	
 	<delete id="deleteArticle" parameterType="int">
 		DELETE FROM article
 		WHERE article_id=#{articleId};
 	</delete>

 	
 </mapper>