<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafit.video.model.dao.VideoDao">

    <resultMap type="Video" id="videoMap">
        <result column="id" property="videoId"/>
        <result column="title" property="title"/>
        <result column="channel_name" property="channelName"/>
        <result column="url" property="url"/>
        <result column="view_cnt" property="viewCnt"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="selectAll" resultMap="videoMap">
        SELECT *
        FROM video
        ;
    </select>

    <select id="selectById" parameterType="int" resultMap="videoMap">
        SELECT *
        FROM video
        WHERE
            id = #{videoId}
        ;
    </select>
    <insert id="insertVideo" parameterType="video">
        INSERT INTO
        video(title,part,channel,name,url)
        VALUES(#{title}, #{part}, #{channel}, #{name},#{url})
        ;
    </insert>

    <delete id="deleteVideo" parameterType="int">
        DELETE FROM video
        WHERE id=#{videoId}
        ;
    </delete>

    <update id="updateViewCnt" parameterType="int">
        UPDATE video
        SET view_cnt = view_cnt + 1
        WHERE id = #{id}
        ;
    </update>





</mapper>