<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ssafit.comment.model.dao.CommentDao">

 	<resultMap type="Comment" id="commentMap">
 		<result column="comment_id" property="commentId"/>
 		<result column="content" property="content"/>
 		<result column="user_seq" property="userSeq"/>
 		<result column="article_id" property="articleId"/>
 		<result column="board_id" property="boardId"/>
 		<result column="created_at" property="createdAt"/>
	</resultMap>

	<select id="selectAll" resultMap="commentMap">
 		SELECT
			*
 		FROM comment c
		JOIN user u
		ON c.user_seq = u.user_seq
		;
 	</select>
 
 	<select id="selectOne" resultMap="commentMap">
 		SELECT *
 		FROM comment
 		WHERE comment_id = #{commentId}
 	</select>

 	<insert id="insertComment" parameterType="Comment">
 		INSERT INTO 
 		comment (content,user_seq,article_id,board_id,created_at)
 		values(#{content},#{userSeq},#{articleId},#{boardId},now());
 	</insert>

	<update id="updateComment" parameterType="Comment">
		UPDATE comment
		SET
			content = #{content},
			created_at = now()
		WHERE comment_id = #{commentId}
		;
	</update>
 	
 	<delete id="deleteComment" parameterType="int">
 		DELETE FROM comment
 		WHERE comment_id=#{commentId}
		;
 	</delete>

	<!-- 댓글 별 좋아요 개수-->
	<select id="selectLikeCount" parameterType="int" resultType="int">
		SELECT count(*) FROM comment
		WHERE comment_id = #{commentId}
		;
	</select>

	<!-- 좋아요 row -->
	<select id="selectCommentLike" parameterType="Map" resultType="CommentLike">
		SELECT *
		FROM comment_like
		WHERE
		comment_id = #{commentId}
		AND
		user_seq = #{userSeq}
		;
	</select>

	<!-- 댓글 좋아요 누르기-->
	<insert id="insertLike" parameterType="CommentLike">
		INSERT INTO comment_like(user_seq, comment_id)
		VALUES (#{userSeq}, #{commentId})
		;
	</insert>

	<!-- 댓글 좋아요 취소-->
	<delete id="deleteLike" parameterType="int">
		DELETE FROM comment_like
		WHERE comment_like_id = #{commentLikeId}
		;
	</delete>

	<!-- 댓글 별 싫어요 개수-->
	<select id="selectDislikeCount" parameterType="int" resultType="int">
		SELECT count(*) FROM comment
		WHERE comment_id = #{commentId}
		;
	</select>

	<!-- 싫어요 row -->
	<select id="selectCommentDislike" parameterType="Map" resultType="CommentDislike">
		SELECT *
		FROM comment_dislike
		WHERE
		comment_id = #{commentId}
		AND
		user_seq = #{userSeq}
		;
	</select>

	<!-- 댓글 싫어요 누르기-->
	<insert id="insertDislike" parameterType="CommentDislike">
		INSERT INTO comment_dislike(user_seq, comment_id)
		VALUES (#{userSeq}, #{commentId})
		;
	</insert>

	<!-- 댓글 싫어요 취소-->
	<delete id="deleteDislike" parameterType="int">
		DELETE FROM comment_dislike
		WHERE comment_dislike_id = #{commentDislikeId}
		;
	</delete>


 	
 </mapper>