<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafit.video.model.dao.VideoDao">

    <resultMap type="Video" id="videoMap">
        <result column="video_id" property="videoId"/>
        <result column="title" property="title"/>
        <result column="channel_title" property="channelTitle"/>
        <result column="description" property="description"/>
        <result column="part" property="part"/>
        <result column="view_cnt" property="viewCnt"/>
    </resultMap>

    <select id="selectAll" resultMap="videoMap">
        SELECT *
        FROM video
        order by view_cnt desc
        ;
    </select>

    <select id="selectById" parameterType="String" resultMap="videoMap">
        SELECT *
        FROM video
        WHERE
            video_id = #{videoId}
        ;
    </select>
    
    <select id="selectByPart" parameterType="String" resultMap="videoMap">
        SELECT *
        FROM video
        WHERE
            part = #{part}
        order by view_cnt desc
        ;
    </select>
    
    <!-- <insert id="insertVideo" parameterType="video">
        INSERT INTO
        video(title,part,channel,name,url)
        VALUES(#{title}, #{part}, #{channel}, #{name},#{url})
        ;
    </insert>

    <delete id="deleteVideo" parameterType="int">
        DELETE FROM video
        WHERE video_id=#{videoId}
        ;
    </delete> -->

    <update id="updateViewCnt" parameterType="String">
        UPDATE video
        SET view_cnt = view_cnt + 1
        WHERE video_id = #{videoId}
        ;
    </update>

</mapper>